.headerRoot {
  display: flex;
  align-items: center;
  height: 64px;
  color: var(--md-color-on-surface);
  background-color: var(--md-color-surface);

  --header-leading-icon-button-color: var(--md-color-on-surface);
  --header-trailing-icon-button-color: var(--md-color-on-surface-variant);
}

.selectionHeader {
  position: sticky;
  top: 0;
  z-index: 1;
  color: var(--md-color-on-primary);
  background-color: var(--md-color-primary);

  --header-leading-icon-button-color: var(--md-color-on-primary);
  --header-trailing-icon-button-color: var(--md-color-on-primary);
}

.headerLeading {
  padding-inline: 4px;
  color: var(--md-color-on-surface);

  --icon-button-color: var(--header-leading-icon-button-color);
}

.headerTitle {
  flex-grow: 1;
  font-size: var(--md-typography-title-large-size);
  font-weight: var(--md-typography-title-large-weight);

  .headerRoot > &:first-child {
    padding-left: 16px;
  }
}

.headerTrailing {
  display: flex;
  padding-inline: 4px;

  --icon-button-color: var(--header-trailing-icon-button-color);
}