.pageRoot {
  min-height: 100dvh;
  display: grid;
  place-items: center;
}

.loginButtons {
  display: grid;
  grid-template-rows: repeat(2, minmax(0, 1fr));
}

/* .guestLoginButton {
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  margin: 8px;
} */