.albumPhotoListHeader {
  padding: 8px 1rem;
  font-size: var(--md-typography-body-medium-size);
  font-weight: var(--md-typography-body-medium-weight);
  color: var(--md-color-on-surface-variant);
}

.albumPhotoListBody {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1px;
}

.albumPhotoListItem {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}