.thumbGrid {
  /* border-radius: 12px; */
  /* overflow: hidden; */
  display: grid;
  grid-template-rows: repeat(2, minmax(0, 1fr));
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1px;
  aspect-ratio: 1 / 1;

  &:empty {
    background-color: var(--md-color-outline);
  }

  &:has(:only-child) {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
  }

  &:has(:nth-child(2):last-child) {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
  }

  &:has(:nth-child(3):last-child) {
    & > :first-child {
      grid-row: 1 / -1;
    }
  }
}

.thumbGridItem {
  width: 100%;
  height: 100%;
  object-fit: cover;
}