/* https://developers.line.biz/ja/docs/line-login/login-button/#design-guidelines */
.lineLoginButton {
  padding: var(--protected-area);

  &:hover {
    --state-layer-opacity: 0.1;
  }

  &:active {
    --state-layer-opacity: 0.3;
  }

  --line-icon-size: 2.5rem;
  --protected-area: 0.5rem;
  --state-layer-opacity: 0;
}

.lineLoginButtonInner {
  display: grid;
  min-height: 40px;
  background-color: #06C755;
  border-radius: 0.5rem;
}

.lineLoginButtonStateLayer {
  grid-area: 1 / 1 / -1 / -1;
  background-color: rgb(0 0 0 / var(--state-layer-opacity));
}

.lineLoginButtonContentLayer {
  display: flex;
  grid-area: 1 / 1 / -1 / -1;
  font-weight: bold;
}

.lineIconContainer {
  display: grid;
  align-items: center;
  padding-inline: var(--protected-area);
  border-right: 1px solid rgb(0 0 0 / 8%);
}

.lineLogo {
  width: var(--line-icon-size);
  height: var(--line-icon-size);
}

.lineLoginButtonLabel {
  padding-block: calc(var(--line-icon-size) / 2);

  /* ガイドラインでは 11px と書いてるけど小さすぎる */
  /* font-size: 11px; */
  padding-inline: var(--line-icon-size);
  font-weight: bold;
  color: #FFF;
}