.textField {
  position: relative;
  /* padding-inline: 16px; */
  display: grid;
  /* min-height: 56px; */
  grid-template-rows: 56px;
  align-items: center;
  cursor: text;
}

.textFieldLabel {
  position: absolute;
  display: flex;
  align-items: center;
  font-size: var(--md-typography-body-large-size);
  font-weight: var(--md-typography-body-large-weight);
  color: var(--md-color-on-surface-variant);
  cursor: text;
  transition-timing-function: ease;
  transition-duration: 200ms;
  transition-property: font-size, height, top;

  .textField:focus-within > &, &:has(+ .textFieldInput:not(:placeholder-shown)) {
    font-size: var(--md-typography-body-small-size);
    font-weight: var(--md-typography-body-small-weight);
  }

  .textField[aria-invalid] > & {
    color: var(--md-color-error);
  }
}

.textFieldInput {
  width: 100%;
  padding-inline: 16px;
  font-size: var(--md-typography-body-large-size);
  font-weight: var(--md-typography-body-large-weight);
  color: var(--md-color-on-surface);
  caret-color: var(--md-color-primary);
  outline: none;

  &[aria-invalid], &:has(~ .textFieldErrorText) {
    caret-color: var(--md-color-error);
  }
}

.textFieldIndicator {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-color: var(--md-color-primary);

  .textField:focus-within > & {
    border-top-width: 2px;
  }

  .textField[aria-invalid] > & {
    border-color: var(--md-color-error);
  }
}

.textFieldSupportingText {
  color: var(--md-color-on-surface-variant);
}

.textFieldErrorText {
  color: var(--md-color-error);
}

/* なぜこんなことをするのか: API を維持したままで Material Design を再現する為 */
:is(.textField::before, .textFieldLabel, .textFieldInput, .textFieldIndicator) {
  grid-row: 1 / 2;
}

.textFieldSupportingText, .textFieldErrorText {
  grid-row: 2 / 3;
  padding-inline: 16px;
  padding-top: 4px;
  font-size: var(--md-typography-body-small-size);
  font-weight: var(--md-typography-body-small-weight);
}

.textFieldFilled {
  &::before {
    height: 100%;
    content: "";
    background-color: var(--md-color-surface-container-highest);
  }

  & > .textFieldInput {
    position: absolute;
    bottom: 8px;
  }

  /* stylelint-disable-next-line */
  & > .textFieldLabel {
    top: 8px;
    left: 16px;
    height: calc(100% - 16px);

    .textField:focus-within > & {
      height: 1lh;
    }

    &:has(+ .textFieldInput:not(:placeholder-shown)) {
      height: 1lh;
      font-size: var(--md-typography-body-small-size);
      font-weight: var(--md-typography-body-small-weight);
    }
  }
}

.textFieldOutlined {
  outline: none;

  &::before {
    height: 100%;
    outline: 1px solid var(--md-color-outline);
    content: "";
    border-radius: 4px;
  }

  &:focus-within::before {
    outline: 3px solid var(--md-color-primary);
    outline-offset: -1.5px;
  }

  &[aria-invalid]::before {
    outline-color: var(--md-color-error);
  }

  /* stylelint-disable-next-line */
  &::before, .textFieldInput {
    grid-column: 1 / -1;
  }

  /* stylelint-disable-next-line */
  & > .textFieldLabel {
    top: 16px;
    left: calc(16px - 4px);
    height: auto;
    padding-inline: 4px;
    background-color: var(--current-background-color);

    .textField:focus-within > &, &:has(+ .textFieldInput:not(:placeholder-shown)) {
      top: calc(0px - 0.5lh);
    }
  }

  /* stylelint-disable-next-line */
  & > .textFieldIndicator {
    display: none;
  }
}