.groupListItem {
  height: 72px;
  overflow: hidden;
  border: 1px solid var(--md-color-outline-variant);
  border-radius: 12px;
}

.groupListItemBody {
  display: flex;
  gap: 8px;
  width: 100%;
  height: 100%;
}

.groupListItemThumb {
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 12px;
}

.groupListItemThumbImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.groupListItemContent {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 4px;
  align-items: start;
  align-self: center;
}

.groupListItemUserIcon {
  width: 24px;
  height: 24px;
}