.welcomeHeader {
  display: flex;
  align-items: center;
}

.userIcon {
  margin-inline: 4px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
}

.groupList {
  padding: 1rem;
}

.footer {
  padding-inline: 1rem;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 8px;
}