.welcomeHeader {
  display: flex;
  align-items: center;
  gap: 4px;
}

.userIcon {
  width: 32px;
  height: 32px;
}

.groupList {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer {
  padding-inline: 1rem;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 8px;
}