.imageGridListRoot {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 1px;
  /* TODO: Container width */
  min-height: calc(150cqw + 0.5px);

  /* グリッドの背景を表示させるやつ */
  background-image: linear-gradient(var(--md-color-outline));
  background-repeat: space;
  background-size: calc(50cqw - 0.5px) calc(50cqw - 0.5px);
}

.imageGridListItem {
  display: grid;

  & img {
    grid-area: 1 / 1 / -1 / -1;
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }

  &[data-disabled]::after {
    grid-area: 1 / 1 / -1 / -1;
    content: "";
    background-color: black;
    opacity: 0.6;
  }
}

.imageGridListItemCheckbox {
  position: relative;
  top: 8px;
  left: 8px;
  display: grid;
  grid-area: 1 / 1 / -1 / -1;
  place-items: center;
  width: 40px;
  height: 40px;
  color: transparent;
  border-radius: 50%;

  .imageGridListItem:not([data-disabled]):hover & {
    border: 2px solid var(--md-color-primary);
  }

  &[data-selected] {
    color: var(--md-color-on-primary);
    background-color: var(--md-color-primary);
  }
}