.avatarButton {
  position: relative;
  display: grid;
  place-items: center;
  width: 40px;
  height: 40px;

  &:focus-visible {
    outline-width: 3px;
    outline-color: var(--md-color-secondary);
    outline-offset: 2px;
  }

  &::after {
    position: absolute;
    min-width: var(--minimum-target-size);
    min-height: var(--minimum-target-size);
    content: "";

    --minimum-target-size: 48px;
  }
}

.avatarButtonStateLayer, .avatarButtonContentLayer {
  grid-area: 1 / 1 / -1 / -1;
}

.avatarButtonStateLayer {
  width: 100%;
  height: 100%;
  background-color: var(--md-color-on-surface);
  border-radius: 50%;
  opacity: 0;

  .avatarButton:active > & {
    opacity: 0.1;
  }
}

.avatarButtonContentLayer {
  overflow: hidden;
  border-radius: 50%;
}