.dialogRoot {
  place-self: center;
  min-width: 280px;
  max-width: 560px;
  background-color: var(--md-color-surface-container-high);
  border-radius: 28px;

  &::backdrop {
    background-color: var(--md-color-scrim);
  }
}

.dialogBody {
  padding: 24px;
}

.dialogTitle {
  font-size: var(--md-typography-headline-small-size);
  font-weight: var(--md-typography-headline-small-weight);
  color: var(--md-color-on-surface);
}

.dialogContent {
  margin-top: 16px;
}

.dialogFooter {
  display: flex;
  gap: 4px;
  justify-content: end;
  margin-top: 24px;
}