.albumInfo {
  padding: 1rem;
}

.albumInfoDate {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dateBadge {
  padding: 2px 10px;
  color: var(--md-color-on-primary);
  background-color: var(--md-color-primary);
  font-size: var(--md-typography-body-medium-size);
  font-weight: bold;
  border-radius: 4px;
}

.albumTitleInput {
  width: 100%;
  padding-block: 0.5rem;
  font-size: var(--md-typography-headline-large-size);
  font-weight: var(--md-typography-headline-large-weight);
  outline: none;
}